* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  background-color: rgb(25, 23, 22);
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  color: antiquewhite;
  font-size: x-large;
  text-align: center;
  margin-top: 20%;
}

main {
  background-color: rgb(255, 255, 255, 0.2);
  width: 30%;
  margin-left: 450px;
}
#data {
  width: 220px;
  margin-left: 95px;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
}

#data-select {
  width: 224px;
  margin-left: 95px;
  text-align: center;
  margin-top: 5px;
  border-radius: 5px;
}

#submit {
  width: 70px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 167px;
}

#result {
  text-align: center;
  color: antiquewhite;
}